/*gradient background*/
body {
	background: url(images/TTBackground.jpg) no-repeat center center fixed; 
 	 -webkit-background-size: cover;
 	 -moz-background-size: cover;
 	 -o-background-size: cover;
 	 background-size: cover;
 	 
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: verdana, arial, helvetica, sans-serif;
	color: #000000;
	background-color: #FFFFFF;
	}

/* navigation */
#nav ul {
  margin-top: 155px;
  padding: 0;
  list-style-type: none;
  width: auto;
  position: relative;
  display: block;
  height: 36px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  background: transparent url('images/OFF.gif') repeat-x top left;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  border-bottom: 4px solid #555555;
  border-top: 1px solid #919191;
}
#nav li {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
}
#nav li a {
  display: block;
  float: left;
  color: #8c3a3a;
  text-decoration: none;
  font-weight: bold;
  padding: 12px 20px 0 20px;
  height: 24px;
  background: transparent url('images/DIVIDER.gif') no-repeat top right;
}
#nav li a:hover {
  background: transparent url('images/HOVER.gif') no-repeat top right;
  color: #8c3a3a;
}

/*nav ul li {
	list-style: none;
	list-style-type: none;
	float: left;
	position: relative;
	top: 0px;
	right: 10x;
	text-align: left;
	}*/

/* logo header */

#header {
/*float: center;
width: 30%;
height: 60%;
display: block;
margin-left: auto;
margin-right: auto;*/
	position: absolute;
	left: 0px;
	top: 0px;
}

table {
text-align: center;
vertical-align: middle;
margin-left: auto;
margin-right: auto;
}
	
a {
	text-decoration: none;
	font-weight: bold;
	color:  #ccc;
	outline: none;
	}
a:visited {
	color:  #ccc;
	}
a:active {
	color:  #ccc;
	}
a:hover {
	color: white;
	text-decoration: bold;
	}
.ahem {
	display: none;
	}
strong, b {
	font-weight: bold;
	}
p {
	font-size: 12px;
	line-height: 22px;
	margin-top: 20px;
	margin-bottom: 10px; 
	}

h1 {
	font-size: 24px;
	line-height: 44px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	}
h2 {
	font-size: 18px;
	line-height: 40px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	}
h3 {
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	}
h4 {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	}
h5 {
	font-size: 12px;
	line-height: 22px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	}
h6 {
	font-size: 10px;
	line-height: 18px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	}

.nowrap {
	white-space: nowrap;
	font-size: 10px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
/* must be combined with nobr in html for ie5win */
	}
.tiny {
	font-size: 9px;
	line-height: 16px;
	margin-top: 15px;
	margin-bottom: 5px; 
	}	
#top {
	/*margin: 20px 20px 50px 20px;*/
	/*padding: 10px; */
	border: 0px solid #000; 
	background: inherit;
	height: 100px; /* ie5win fudge begins */
	voice-family: "\"}\"";
	voice-family:inherit;
	height: 70px;
	}
#left {
        float: left;
	position: relative;
	padding: 10px;
	/* border: 5px solid #ccc; */
	background: transparent;
	width: 150px; /* ie5win fudge begins */
	voice-family: "\"}\"";
	voice-family:inherit;
	width: 15%;
	}

#middle {
        float: left;
        position: relative;
	margin: 100px 190px 20px 190px;
	padding: 10px 10px 10px 10px;
	/* border: 5px solid #ccc; */
	background: transparent;
	word-wrap: normal;
        width: 70%:
	}
#right {
        float: left;
	position: relative;
	top: 120px;
	right: 0px; /* Opera5.02 will show a space at right when there is no scroll bar */
	margin: 20px;
	padding: 10px;
	/* border: 5px solid #ccc; */
	background: transparent;
	width: 150px; /* ie5win fudge begins */
	voice-family: "\"}\"";
	voice-family:inherit;
	width: 15%;
	}
pre {
	font-size: 12px;
	line-height: 22px;
	margin-top: 20px;
	margin-bottom: 10px; 
	}
	
	
	
.title {
	letter-spacing: 5px;
	font-size: 60px;
	/* color: #ccc; */
	font-weight: bolder;
	text-align: left;
	text-shadow: 0px 0px 7px;
	text-transform: capitalize;
	word-spacing: 10px;
}


/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }

/* Future color ideas */

/*  { background-color: #014659 }
primary-2 { background-color: #0F3B47 }
primary-3 { background-color: #013240 }
primary-4 { background-color: #21809B }
primary-5 { background-color: #3A869B }

secondary-a-1 { background-color: #8F6400 }
secondary-a-2 { background-color: #725717 }
secondary-a-3 { background-color: #674800 }
secondary-a-4 { background-color: #BC8F26 }
secondary-a-5 { background-color: #BC9844 }

secondary-b-1 { background-color: #8F1300 }
secondary-b-2 { background-color: #722317 }
secondary-b-3 { background-color: #670E00 }
secondary-b-4 { background-color: #BC3A26 }
secondary-b-5 { background-color: #BC5444 } */

.ViewProjects {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.ViewProjects table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}

.ViewProjects tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.ViewProjects table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.ViewProjects table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}
.ViewProjects tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}
.ViewProjects tr:hover td{
	
}
.ViewProjects tr:nth-child(odd){ background-color:#aad4ff; }
.ViewProjects tr:nth-child(even){ background-color:#ffffff; }
.ViewProjects td{
	vertical-align:middle;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:11px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}
.ViewProjects tr:last-child td{
	border-width:0px 1px 0px 0px;
}
.ViewProjects tr td:last-child{
	border-width:0px 0px 1px 0px;
}
.ViewProjects tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.ViewProjects tr:first-child td{
		background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);

	background-color:#005fbf;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.ViewProjects tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);
	background-color:#005fbf;
}
.ViewProjects tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.ViewProjects tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

/* this may be useful later
this is to fill a row */
.view-table
{
    display:table;
    width:100%;
}
.view-row,
{
    display:table;
}
.view-row > div
{
    display: table-cell;
}
.view-name 
{
    text-align:right;
}